body {
  background-image: url('groovy.jpg');
}

@font-face {
  font-family: wonderbar;
  src: url(wonderbar-2.0.otf);
}

@font-face {
  font-family: oona;
  src: url(Oona-Regular.ttf);
}

#title {
  margin-top: 60px;
  font-family: wonderbar;
  font-size: 50px;
  text-align: center;
  color: #FF8A00;
  text-shadow: 4px 4px #FA261D;
}

#subheader {
  margin-top: -40px;
  font-family: oona;
  font-size: 60px;
  text-align: center;
  color: #FA261D;
}

.mini-projects {
  display: flex;
  position: relative;
}

#mini-project-1 {
  cursor: pointer;
  margin: 10px;
  background-color: #FFB962;
  border: none;
  color: #FF6918;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}

#mini-project-2 {
  cursor: pointer;
  margin: 10px;
  background-color: #FFB962;
  border: none;
  color: #FF6918;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}
