body {
  background-image: url('background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@font-face {
  font-family: wonderbar;
  src: url(wonderbar-2.0.otf);
}

@font-face {
  font-family: oona;
  src: url(Oona-Regular.ttf);
}

#title {
  margin-top: 46px;
  font-family: wonderbar;
  font-size: 57px;
  text-align: center;
  color: #D94D1A;
  text-shadow: 4px 4px #F29F05;
}

#subheader {
  margin-top: -35px;
  font-family: oona;
  font-size: 50px;
  text-align: center;
  color: #D94D1A;
  font-weight: bold;
}

.big-projects {
  margin-top: -55px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: center;
}

#projectA, #projectB, #projectC {
  margin: 35px;
  cursor: pointer;
}

#projectA:hover, #projectB:hover, #projectC:hover {
  margin: 35px;
  cursor: pointer;
  transform: rotate(30deg);
}

.mini-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: center;
}

#mini-project-1, #mini-project-2, #mini-project-3, #mini-project-4, #mini-project-5, #mini-project-6, #mini-project-7 {
  cursor: pointer;
  margin: 15px;
  background-color: #F29F05;
  border: none;
  color: #D94D1A;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}

#mini-project-1:hover, #mini-project-2:hover, #mini-project-3:hover, #mini-project-4:hover, #mini-project-5:hover, #mini-project-6:hover, #mini-project-7:hover {
  cursor: pointer;
  background-color: #D94D1A;
  color: #F29F05;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* #mini-project-2 {
  cursor: pointer;
  margin: 10px;
  background-color: #FFB962;
  border: none;
  color: #FF6918;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
} */
