body {
  background-image: url('groovy.jpg');
}

@font-face {
  font-family: wonderbar;
  src: url(wonderbar-2.0.otf);
}

@font-face {
  font-family: oona;
  src: url(Oona-Regular.ttf);
}

#title {
  margin-top: 60px;
  font-family: wonderbar;
  font-size: 50px;
  text-align: center;
  color: #FF8A00;
  text-shadow: 4px 4px #FA261D;
}

#subheader {
  margin-top: -40px;
  font-family: oona;
  font-size: 60px;
  text-align: center;
  color: #FF8A00;
  text-shadow: 4px 4px #FA261D;
}
/* .mini-projects {
  margin-top: 60px;
  background-color: #DE7871;
  width: 110px;
  height:40px;
}

.main-projects {
  margin-top: 20px;
  background-color: #DE7871;
  width: 110px;
  height:40px;
} */

#valueDisplay {
  position: relative;
}

#myRange {
  position: relative;
}
