h1{
  font-size: 25px;
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
}

h3 {
  margin-top: 5px;
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
}

h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}

p {
  font-size: 10px;
  font-family: 'Cabin', sans-serif;
}

#routine {
  width: 200px;
  padding: 0 0 15px 0;
}

#submit, #yesButton, #noButton {
  cursor: pointer;
  margin-top: 7px;
  background-color: #333333;
  border: none;
  color: white;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'Cabin', sans-serif;
}

#submit:hover, #yesButton:hover, #noButton:hover {
  cursor: pointer;
  background-color: #616161;
}

.olivia {
  margin-left: -44px;
  padding: 0;
}
