h2 {
  font-family: 'Vollkorn', serif;
  font-weight: bolder;
  font-size: 30px;
  margin: 0;
  margin-top: 20px;
}

#editbox {
  width: 400px;
  height: 400px;
  font-family: 'Vollkorn', serif;
  /* color: red; */
}

#pointers {
  position: relative;
}

#pointers .pointer {
  position: absolute;
  width: 15px;
  height: 22px;
  background: url("pointer.png")
  no-repeat -4px 0;
}
