a {
  margin-top: 25px;
  color: black;
  font-size: 30px;
  font-family: 'Cabin', sans-serif;
}

p {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
  margin-top: 50px;
  font-size: 30px;
  font-family: 'Cabin', sans-serif;
}
