body {
  background-image: url('title-img.JPEG');
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 99%;
  max-height: 99%;
  display: flex;
}

#start {
  cursor: pointer;
  background-color: #333333;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  font-size: 30px;
  font-family: 'Cabin', sans-serif;
}

#start:hover {
  cursor: pointer;
  background-color: #616161;
}
