body {
  background-image: url('shelf.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 99%;
  max-height: 99%;
}

h1 {
  position: relative;
  justify-content: center;
  padding-left: 50px;
  padding-top: -10px;
  font-size: 30px;
  font-family: 'Cabin', sans-serif;

}

#takeout, #groceries {
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
  margin: 12px;
  background-color: #333333;
  border: none;
  color: white;
  position: relative;
  margin-top: 70px;
  margin-left: 66px;
  font-family: 'Cabin', sans-serif;

}

#takeout:hover, #groceries:hover {
  cursor: pointer;
  background-color: #616161;
}
