body {
  margin-top: 350px;
  background-color: black;
  background-image: url('relax.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

#telly {
  transform: rotate(-2deg);
}

#cat {
  cursor: pointer;
}

#skincare {
  cursor: pointer;
}
